@use '../themes/coding';

.card{
    height: var(--card-height);
    aspect-ratio: var(--card-aspect-ratio);
    background-color: transparent;
    border: none;
    border-radius: var(--card-border-radius);
    cursor: pointer;
    filter: var(--card-filter);

    &__matched{
        visibility: hidden;
        pointer-events: none;
    }
    
    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.3s ease-in-out;
    }

    &__face{
        position: absolute;
        inset: 0;
        background-image: var(--card-background-image);
        background-position: center;
        background-repeat: no-repeat;
        backface-visibility: hidden;

        &--back{
            transform: rotateY(180deg);
            background-color: #E8F3F0;
        }
    }
    &.is-flipped .card__inner{
        transform: rotateY(180deg);
    }
}