@use '../abstract/variables' as *;
@use 'sass:map';

@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
    gap: $gap;
}

@mixin flex-start($direction: row, $gap: 0) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: $direction;
    gap: $gap;
}

@mixin flex-space($direction: row) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: $direction;
}

@mixin respond($size) {
    @media screen and (min-width: map.get($breakpoints, $size)) {
        @content;
    }
}