@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;
@use '../base/font' as *;

@use '../themes/coding';
@use '../themes/gaming';

.no-scroll{
    overflow: hidden;
}

.overlay[open]{
    @include flex-center();
    width: 100vw;
    max-width: none;
    height: 100vh;
    max-height: none;
    background: transparent;
    border: none;
    padding: 0;
    z-index: 3;
}

.overlay{
    &::backdrop{
        backdrop-filter: blur(5px);
    }

    &__card{
        @include flex-center(column, 32px);
        background: var(--overlay-background);
        padding: 40px;
        max-width: clamp(300px, calc(540 / 575 * 100vw), 540px);
        border-radius: var(--border-radius);
        transform: translateY(-250%);
        transition: transform 0.3s ease-in-out;
        @include respond(sm){
            gap: 54px;
        }

        &--show{
            transform: translateY(0);
        }
    }

    &__text{
        color: var(--background);
        font-family: var(--font-primary-bold);
        font-size: 26px;
        text-align: center;
        @include respond(xs){
            font-size: 32px;
        }
    }

    &__nav{
        @include flex-center(column, 12px);
        @include respond(sm){
            flex-direction: row;
            gap: 24px;
        }
    }
}

.game{
    @include flex-start(column, 54px);
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background);
    padding-bottom: 54px;
}

.game__header{
    @include flex-space(column);
    align-items: center;
    gap: 25px;
    width: 100%;
    padding: var(--header-padding);
    font-family: var(--font-primary);
    position: sticky;
    top: -1px;
    z-index: 2;
    background-color: var(--header-background);
    box-shadow: 0px 4px 9px 4px var(--background);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    @include respond(lg){
        width: calc(100% - 100px);
        flex-direction: row;
        gap: 0;
        top: 25px;
        border-radius: var(--border-radius);
    }
    @include respond(xl){
        width: calc(100% - 200px);
        top: 50px;
    }
}

.game__score{
    background-color: var(--score-background);
    padding: 17px 20px;
    border-radius: var(--border-radius);

    &--blue{
        color: $player-blue;
        background-image: var(--score-player-blue);
    }

    &--orange{
        color: $player-orange;
        background-image: var(--score-player-orange);
    }
}

.game__score ul{
    @include flex-start(row, var(--score-gap));
    list-style: none;
    font-size: var(--score-font-size);
    line-height: var(--score-font-size);
}

.game__score li{
    padding-left: var(--score-padding-left);
    background-size: var(--score-bg-size);
    background-position: left center;
    background-repeat: no-repeat;
}

.game__player{
    color: white;
    font-size: var(--player-font-size);
    letter-spacing: var(--letter-spacing);

    &--blue,
    &--orange{
        background-size: var(--player-bg-size);
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: var(--player-padding-right);
        line-height: var(--player-line-height);
    }

    &--blue{
        background-image: var(--player-blue);
    }

    &--orange{
        background-image: var(--player-orange);
    }
}

.button__exit{
    background-color: var(--button-background);
    border: 2px solid var(--button-highlight);
    border-radius: var(--border-radius);
    gap: 10px;
    padding: 16px 24px;

    &--bgSolid{
        background-color: var(--button-solid);

        &:hover{
            background-color: var(--button-solid-hover);
        }
    }

    .button__icon{
        transition: none;
    }

    .button__text{
        color: white;
        font-size: 24px;
        font-family: var(--font-primary-bold);
    }

    .button__text--sm{
        font-size: 20px;
    }

    .button__text--colored{
        color: var(--button-highlight);
    }

    .button__text--black{
        color: black;
    }

    &:hover{
        border: 3px solid var(--button-highlight);
        padding: 15px 23px;
        box-shadow: 0 0 20px var(--button-background);

        .button__icon{
            filter: drop-shadow(1px 1px 2px rgba($color: #000000, $alpha: 1));
        }
    }
}

.game__field{
    display: grid;
    padding-top: var(--field-padding);

    &--small{
        width: var(--board-width-sm);
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        @include respond(xs){
            grid-template-columns: repeat(3, 1fr);
        }
        @include respond(sm){
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &--large{
        width: var(--board-width-lg);
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        @include respond(xs){
            grid-template-columns: repeat(3, 1fr);
        }
        @include respond(sm){
            grid-template-columns: repeat(4, 1fr);
        }
        @include respond(lg){
            grid-template-columns: repeat(6, 1fr);
            gap: 10px;
        }
    }
}