@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;
@use '../base/font' as *;

@use '../themes/coding';
@use '../themes/gaming';

.gameover{
    @include flex-center(column, 64px);
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}

.gameover__content{
    @include flex-center(column, 24px);
    font-family: var(--font-primary);
}

.gameover__hero{
    width: clamp(300px, calc(880 / 1024 * 100vw), 880px);
    aspect-ratio: 990 / 125;
    margin-bottom: clamp(20px, calc(100 / 1024 * 100vw), 100px);
    @include respond(lg){
        width: 990px;
        margin-bottom: 100px;
    }
}

.gameover__headline{
    font-size: clamp(80px, calc(124 / 1024 * 100vw), 124px);
    font-family: var(--font-primary-bold);
    color: var(--button-solid);
    margin-bottom: var(--end-margin-bottom);
    text-align: center;
    @include respond(lg){
        font-size: 124px;
    }
}

.gameover__subheadline{
    font-size: 26px;
    color: white;
    font-weight: 100;
}