@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;
@use '../base/font' as *;

.start{
    @include flex-center(column, 85px);
    height: 100vh;
    width: 100%;
    background-color: $background;
    background-image: url('/assets/controller_bg.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 240px;
    @include respond(sm){
        background-size: 280px;
    }
    @include respond(lg){
        background-size: auto;
    }

    &__hero{
        color: white;
        text-align: center;
        @include respond(sm){
            text-align: start;
        }
    }

    &__subtitle{
        font-family: 'Almarai';
        font-size: clamp(24px, calc(24 / 320 * 100vw), 48px);
    }

    &__title{
        font-family: 'Red Rose Bold';
        font-size: clamp(60px, calc(140 / 1125 * 100vw), 140px);
    }
}


.button--play{
    align-self: center;

    .button__icon{
        width: 44px;
        transform: rotate(25.77deg);
    }

    .button__arrow{
        width: 33px;
    }

    &:hover{
        .button__icon{
            width: 51px;
            transform: rotate(0);
        }
        
        .button__arrow{
            width: 36px;
            content: url('/assets/arrow_thick.svg');
        }
    }
}