@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.theme-codevibestheme{
    //colors
    --background: #303131;
    --button-background: #86E9D633;
    --button-highlight: #4DD5BC;
    --button-solid: #66CFBC;
    --button-solid-hover: #66CFBCB3;
    --header-background: #303131;
    --overlay-background: white;
    --score-background: #86E9D633;

    //fonts
    --font-primary: 'Red Rose';
    --font-primary-bold: 'Red Rose Bold';

    //generic
    --border-radius: 0px;
    --letter-spacing: normal;

    //board
    --board-width-sm: 255px;
    --board-width-lg: 255px;

    //card
    --card-background-image:
                            url("/assets/da-icon.png"),
                            linear-gradient(215deg,#4DD5BC 0%, #286F62 60%, #10443a 100%);
    --card-border-radius: 0px;
    --card-filter: none;
    --card-height: 120px;
    --card-width: 120px;
    --card-matched-border: 4px;

    //end-screen
    --end-headline-font-size: clamp(50px, calc(60 / 576 * 100vw), 60px);
    --end-subheadline-font-size: clamp(30px, calc(40 / 576 * 100vw), 40px);
    --end-margin-top: clamp(-20px, calc(-54 / 1024 * 100vw), -54px);
    --end-margin-bottom: 0px;
    --end-filter: none;

    //field
    --field-padding: 10px;

    //header
    --header-padding: 50px 0;

    //score
    --score-bg-size: 24px 20px;
    --score-font-size: 24px;
    --score-gap: 20px;
    --score-padding-left: 28px;
    --score-player-blue: url("/assets/player-coding-blue.png");
    --score-player-orange: url("/assets/player-coding-orange.png");

    //player
    --player-padding-right: 39px;
    --player-blue: url("/assets/player-coding-blue.png");
    --player-orange: url("/assets/player-coding-orange.png");
    --player-bg-size: 24px 20px;
    --player-font-size: 26px;
    --player-line-height: normal;

    @include respond(xs){
        --board-width-sm: 390px;
        --board-width-lg: 390px;
    }

    @include respond(sm){
        --board-width-sm: 525px;
        --board-width-lg: 525px;
        --overlay-max-width: 540px;
    }

    @include respond(lg){
        --board-width-lg: 770px;
        --header-padding: 0 0 50px 0;
    }
}

.theme-codevibestheme .gameover__headline{
    display: none;
}