@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.theme-gamingtheme{
    //colors
    --background: #294F60;
    --button-background: #ED1B7614;
    --button-highlight: #E71C4F;
    --button-solid: #ED1B76;
    --button-solid-hover: white;
    --header-background: #545d75;
    --overlay-background: white;
    --score-background: white;

    //fonts
    --font-primary: 'Orbitron';
    --font-primary-bold: 'Orbitron Bold';

    //generic
    --border-radius: 10px;
    --letter-spacing: 7%;

    //board
    --board-width-sm: 225px;
    --board-width-lg: 225px;

    //card
    --card-background-image: linear-gradient(215deg,#ED1B76 0%, #491a2e 80%,#0A2835 100%);
    --card-border-radius: 12px;
    --card-inner-border-radius: 14px;
    --card-filter: drop-shadow(4px 4px 5px rgb(0, 0, 0, 0.4));
    --card-height: 120px;
    --card-width: 105px;
    --card-matched-border: 2px;

    //end-screen
    --end-headline-font-size: 64px;
    --end-subheadline-font-size: 28px;
    --end-margin-bottom: 50px;
    --end-filter: drop-shadow(4px 4px 2px rgb(0, 0, 0, 0.4));

    //field
    --field-padding: 20px;

    //header
    --header-padding: clamp(14px, calc(24 / 360 * 100vw), 24px);

    //score
    --score-bg-size: 20px 28px;
    --score-font-size: 30px;
    --score-gap: 40px;
    --score-padding-left: 30px;
    --score-player-blue: url("/assets/winner-blue.png");
    --score-player-orange: url("/assets/winner-orange.png");
    --score-blue-min-width: 67px;
    --score-orange-min-width: 67px;

    //player
    --player-padding-right: 58px;
    --player-blue: url("/assets/player-gaming-blue.png");
    --player-orange: url("/assets/player-gaming-orange.png");
    --player-bg-size: 40px 40px;
    --player-font-size: clamp(22px, calc(32 / 480 * 100vw), 32px);
    --player-line-height: 40px;

    @include respond(xs){
        --board-width-sm: 345px;
        --board-width-lg: 345px;
    }

    @include respond(sm){
        --board-width-sm: 465px;
        --board-width-lg: 465px;
    }

    @include respond(lg){
        --board-width-lg: 680px;
    }
}

.theme-gamingtheme .game__currentPlayer--codingTheme{
    display: none;
}

.theme-gamingtheme .endscreen{
    justify-content: center;
}

.theme-gamingtheme .endscreen__confetti{
    display: none;
}

.theme-gamingtheme .button__exit--bgSolid:hover{
    filter: drop-shadow(2px 2px 2px rgb(47, 46, 46, 0.4));

    .button__text{
        color: #ED1B76;
    }
}

.theme-gamingtheme .button__exit:hover{
    background-color: #ED1B7624;

    .button__icon{
        filter: brightness(0) saturate(100%) invert(22%) sepia(47%) saturate(5641%) hue-rotate(333deg) brightness(91%) contrast(98%);
    }
}

.theme-gamingtheme .game__score li,
.theme-gamingtheme .game__player p{
    &::after,
    &::before{
        display: none;
    }
}

.theme-gamingtheme .game__header {
    font-weight: 700;
}

.theme-gamingtheme .gameover__hero--coding{
    display: none;
}